

*{box-sizing:border-box}

html,body{
    height:100%;
    font-family: system-ui,sans-serif;
}
body{
    margin: 0 4px;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.8em;
  background-color: #000000;
  color: white;
  border-radius: 1em;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.sideways {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    padding: 0.5em 0.8em;
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.note {
    font-size: 0.9rem;
    color: #707070;
    font-style: italic;
}

.recipe-grid {  
  grid-auto-columns: minmax(0px, auto);
  grid-auto-rows: minmax(0px, auto);

  display: grid;
  gap: 1.1px;
  background-color: #333;
  border: 1.1px solid #333;
}

.recipe-grid > div {
  background-color: white;
  text-align: center;
  align-content: center;
  padding: 3px 5px;
}